<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.necc.unitconverter"
        versionCode="7" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>wireCal</name>

    <description>
        Estimate the loadings of two wire-sling with different length as the eccentricity of the weight
    </description>

    <author>
        TN@NECC 
    </author>
	
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="3.4.0" />
	<preference name="fullscreen" value="false" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="preferExternal" />
	<preference name="splash-screen-duration" value="3000" />

	<icon src="icon.png" />
	<gap:splash src="splash.png" />

</widget>
